<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- Pour Android 13+ -->


    <application>


        <activity android:name=".activities.SplashActivity"

            android:exported="true"
            android:label="MediAssist"
            android:roundIcon="@mipmap/ic_logo1"
            android:supportsRtl="true"
            android:theme="@style/Theme.MediAssist">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activities.onboarding.OnboardingActivity"
            android:exported="true"
            android:theme="@style/Theme.MediAssist.NoActionBar">

        </activity>

        <activity
            android:name=".activities.WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.MediAssist.NoActionBar" />
        <activity android:name=".activities.Auth.SignUpActivity"
            android:exported="true"
            android:theme="@style/Theme.MediAssist.NoActionBar" />
        <activity android:name=".activities.Auth.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MediAssist.NoActionBar" />
        <activity android:name=".activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MediAssist.NoActionBar" />
        <activity android:name=".activities.ProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.MediAssist.NoActionBar" />
        <activity android:name=".activities.EmergencyActivity"
            android:exported="true"
            android:theme="@style/Theme.MediAssist.NoActionBar" />
        <activity android:name=".activities.MedicationActivity"
            android:exported="true"
            android:theme="@style/Theme.MediAssist.NoActionBar" />
        <activity android:name=".activities.AppointmentsActivity"
            android:exported="true"
            android:theme="@style/Theme.MediAssist.NoActionBar" />
        <activity android:name=".activities.PrescriptionsActivity"
            android:exported="true"
            android:theme="@style/Theme.MediAssist.NoActionBar" />
        <activity android:name=".activities.ScheduleActivity"
            android:exported="true"
            android:theme="@style/Theme.MediAssist.NoActionBar" />
        <activity android:name=".activities.NotificationsActivity"
            android:exported="true"
            android:theme="@style/Theme.MediAssist.NoActionBar" />
    </application>




</manifest>
